<a mat-icon-button class="np" href="https://github.com/roslovets" target="_blank" rel="noopener">
  <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
</a>
<a mat-icon-button class="np" href="https://www.linkedin.com/in/pavel-roslovets/" target="_blank" rel="noopener">
  <fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
</a>
<a mat-icon-button class="np" href="https://www.mathworks.com/matlabcentral/profile/authors/7326344-pavel-roslovets" target="_blank" rel="noopener">
  <img class="img-fluid but-img" src="assets/images/icon-mw-matlab.png" alt="MATLAB Central">
</a>
<a mat-icon-button class="np" href="https://www.facebook.com/pavel.roslovets" target="_blank" rel="noopener">
  <fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>
</a>
<a mat-icon-button class="np" href="https://t.me/roslovets" target="_blank" rel="noopener">
  <fa-icon [icon]="['fab', 'telegram']" size="lg"></fa-icon>
</a>
<a mat-icon-button class="np" href="mailto:p.v.roslovets@gmail.com" rel="noopener">
  <fa-icon [icon]="['far', 'envelope']" size="lg"></fa-icon>
</a>
