<div class="container mb-5" *ngIf="queryParams$ | async">

  <app-types [allTypes]="allTypes" [initTypes]="initTypes" (selectedTypesChange)="selectedTypes=$event"></app-types>

  <div *ngIf="isEn()" class="row mt-2 justify-content-center">
    <div class="alert alert-info py-1 text-center" role="alert">
      All events materials are presented in Russian. Sorry
    </div>
  </div>

  <div *ngIf="!isSelected()">
    <app-empty></app-empty>
  </div>

  <div *ngIf="events$ | async as events">

    <div class="d-flex align-content-center flex-wrap mb-3 mt-4">
      <div class="flex-grow-1 mx-auto mt-2" *ngFor="let event of filterByType(events)">
        <app-card [entity]="event"></app-card>
      </div>
    </div>

  </div>
</div>