<div class="container mb-5" *ngIf="queryParams$ | async">

  <app-types [allTypes]="allTypes" [initTypes]="initTypes" [showPlural]="false"
    (selectedTypesChange)="selectedTypes=$event"></app-types>

  <div *ngIf="!isSelected()">
    <app-empty></app-empty>
  </div>

  <div *ngIf="projects$ | async as projects">

    <div class="d-flex align-content-center flex-wrap mb-3 mt-4">
      <div class="flex-grow-1 mx-auto mt-2" *ngFor="let project of filterByType(projects)">
        <app-card [entity]="project"></app-card>
      </div>
    </div>

  </div>
</div>