<div class="container mb-5" *ngIf="queryParams$ | async">

  <app-types [allTypes]="allTypes" [initTypes]="initTypes" (selectedTypesChange)="selectedTypes=$event"></app-types>

  <div *ngIf="isEn()" class="row mt-2 justify-content-center">
    <div class="alert alert-info py-1 text-center" role="alert">
      All videos in Russian. Use auto-translate captions on Youtube
    </div>
  </div>

  <div *ngIf="!isSelected()">
    <app-empty></app-empty>
  </div>

  <div *ngIf="videos$ | async as videos">

    <div class="d-flex align-content-center flex-wrap mb-3 mt-4">
      <div class="flex-grow-1 mx-auto mt-2" *ngFor="let video of filterByType(videos)">
        <mat-card class="content-card mx-auto">
          <mat-card-header>
            <mat-card-title>{{video.title | translate}}</mat-card-title>
            <mat-card-subtitle>{{video.type | translate}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="dataService.getCover(video)" alt="Video cover" *ngIf="video.cover">
          <mat-card-content class="multi_lines_text">{{video.details | translate}}</mat-card-content>
          <mat-card-actions class="text-right">
            <button mat-button (click)="btnLinkClick(video.materials)" *ngIf="video.materials">{{'VIDEO.MATERIALS' |
              translate}}</button>
            <button mat-button (click)="btnLinkClick(video.youtube)">{{'VIDEO.WATCH' | translate}}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>